In [14]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)

# Save the DataFrame to an Excel file
file_path = 'output.xlsx'
df.to_excel(file_path, index=False)

print(f'DataFrame saved to {file_path}')

DataFrame saved to output.xlsx

In [15]:
df = pd.read_excel(file_path)
df["id"] = range(3)
df.to_excel(file_path)

In [16]:
import pandas as pd
from openpyxl import load_workbook

# File path for the existing Excel file
file_path = 'output.xlsx'

# Load the existing workbook
book = load_workbook(file_path)

# Specify the sheet name (adjust if needed)
sheet_name = 'Sheet1'

# Read the existing data into a pandas DataFrame
df_existing = pd.read_excel(file_path, sheet_name=sheet_name)

# Sample new data to update
new_data = {
    'Name': ['Eve', 'Frank'],
    'Age': [28, 33],
    'City': ['Houston', 'Phoenix']
}
df_new = pd.DataFrame(new_data)

# Append the new data to the existing DataFrame
df_combined = pd.concat([df_existing, df_new], ignore_index=True)

# Write the combined DataFrame back to the Excel sheet
with pd.ExcelWriter(file_path, engine='openpyxl', mode='a', if_sheet_exists='replace') as writer:
    writer.book = book
    writer.sheets = {ws.title: ws for ws in book.worksheets}
    df_combined.to_excel(writer, sheet_name=sheet_name, index=False)

AttributeError: property 'book' of 'OpenpyxlWriter' object has no setter

In [8]:
df

      Name  Age         City  id
0    Alice   25     New York   0
1      Bob   30  Los Angeles   1
2  Charlie   35      Chicago   2