# PYTHON Fundamentals

In [2]:
name = "Biraj"
last_name = "Buddhacharya"

print('Name: ', name)
print('Last Name:', last_name)

Name:  Biraj
Last Name: Buddhacharya

## 1. Python Data Types 
---

In [8]:
name = "Biraj" # string
age = 18 # int
height = 5.11 # float
fruits = ["Apple", "Banana", "Pear"] #list 
countries = {"China", "India", "Nepal"} # set
colors = ("red", "green", "blue") # tuple 
x = range(4) # range type
my_info = {name: "Biraj", age: 18} # dictionary 
is_ok = True # boolean

You can use type() to show the type of the vairable as shown below:

In [13]:
print("type name: ", type(name))
print("type age: ", type(age))
print("type height: ", type(height))
print("type fruits: ", type(fruits))
print("type countries: ", type(countries))
print("type colors: ", type(colors))
print("type x: ", type(x))
print("type my_info: ", type(my_info))
print("type is_ok: ", type(is_ok))

type name:  <class 'str'>
type age:  <class 'int'>
type height:  <class 'float'>
type fruits:  <class 'list'>
type countries:  <class 'set'>
type colors:  <class 'tuple'>
type x:  <class 'range'>
type my_info:  <class 'dict'>
type is_ok:  <class 'bool'>

## 2. Python type Casting
---

### Exercise 2.1
---

In [22]:
age = 18 
float_age = float(age)
str_age = str(age)

print(age, float_age, str_age)

18 18.0 18

## 3. Python Operators 
---

### Arthemetic operators

In [29]:
# Modulus (%)
4 % 3 # prints reminder

1

In [31]:
# Exponential (**) or power 
2 ** 2 # prints square of two

4

In [33]:
# Floor division (//)
5 // 3 # prints quatient of division

1

### Exercise 3.1

In [48]:
x = 7*(3+8-4)/6
y = x % 2 
z = y ** 3 
k = z // 3

In [50]:
print(x, y, z, k)

8.166666666666666 0.16666666666666607 0.00462962962962958 0.0

### Comparasion Operator

In [1]:
2 == 3

False

In [2]:
2 != 3

True

### Logical Operator 
1. And ( and ) ` True and False  output: False`
2. Or ( or ) ` True or False output: True`
3. Not ( not ) ` not False output: True`

> Note: [] -> False, "" -> False, 'something' -> True

**Logical Operators Precedence Rules**
1. not
2. and
3. or

In [4]:
False or True and not True

False

### Identy Operator 
The identity operators in Python to determine wheather a value is of a certain class or type. Thery they are use to determine hte type of data a certain vairable contain. 

Example:

In [8]:
x = 3
type(x) is int 
type (x) is float 
type(x) is str

False

### Membership Operator 
It is used to test wheater a sequence is present in a object or not. 
Two operators in python are: 
- in
- not in

Example:

In [9]:
'h' in 'hello'

True

### Bit Wise Operator
In Python, bitwise operators are used to performing bitwise calculation in integer. 

**Note: bitwise operator only works in integer**

In [16]:
# Bitwise and ( & ) 
# 2 = 10 in binary 
# 3 = 11 in binary 
# 2 & 3 = 10 & 11 = 10 = 2 
2 & 3

2

In [17]:
# Bitwise or ( | ) 
# 2 = 10 in binary 
# 3 = 11 in binary 
# 2 | 3 = 10 | 11 = 11 = 3
2 | 3

3

In [19]:
# Bitwise xor ( ^ ) 
2 ^ 3

1

## 4. Python list
---
**Note: Python list are mutable(changable)**

In [24]:
# list is enclosed in square brackets 
days_of_week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
days_of_week

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [28]:
# You can find hte number of items in the list using len()
len(days_of_week)

7

list can have any data type but it is not recommended to put different data type in a list as it can slow the program

In [31]:
my_list = [1, 31.1, 'Hello' , True]
my_list

[1, 31.1, 'Hello', True]

In [32]:
# Accessing list items 
my_list[2]

'Hello'

In [38]:
# Slicking
days_of_week[1:3]

['Monday', 'Tuesday']

In [39]:
# Negative indexing 
days_of_week[-1]

'Saturday'