# PYTHON Fundamentals

In [1]:
name = "Biraj"
last_name = "Buddhacharya"

print('Name: ', name)
print('Last Name:', last_name)

Name:  Biraj
Last Name: Buddhacharya

## 1. Python Data Types 
---

In [2]:
name = "Biraj" # string
age = 18 # int
height = 5.11 # float
fruits = ["Apple", "Banana", "Pear"] #list 
countries = {"China", "India", "Nepal"} # set
colors = ("red", "green", "blue") # tuple 
x = range(4) # range type
my_info = {name: "Biraj", age: 18} # dictionary 
is_ok = True # boolean

You can use type() to show the type of the vairable as shown below:

In [3]:
print("type name: ", type(name))
print("type age: ", type(age))
print("type height: ", type(height))
print("type fruits: ", type(fruits))
print("type countries: ", type(countries))
print("type colors: ", type(colors))
print("type x: ", type(x))
print("type my_info: ", type(my_info))
print("type is_ok: ", type(is_ok))

type name:  <class 'str'>
type age:  <class 'int'>
type height:  <class 'float'>
type fruits:  <class 'list'>
type countries:  <class 'set'>
type colors:  <class 'tuple'>
type x:  <class 'range'>
type my_info:  <class 'dict'>
type is_ok:  <class 'bool'>

## 2. Python type Casting
---

### Exercise 2.1
---

In [4]:
age = 18 
float_age = float(age)
str_age = str(age)

print(age, float_age, str_age)

18 18.0 18

## 3. Python Operators 
---

### Arthemetic operators

In [5]:
# Modulus (%)
4 % 3 # prints reminder

1

In [6]:
# Exponential (**) or power 
2 ** 2 # prints square of two

4

In [7]:
# Floor division (//)
5 // 3 # prints quatient of division

1

### Exercise 3.1

In [8]:
x = 7*(3+8-4)/6
y = x % 2 
z = y ** 3 
k = z // 3

In [9]:
print(x, y, z, k)

8.166666666666666 0.16666666666666607 0.00462962962962958 0.0

### Comparasion Operator

In [10]:
2 == 3

False

In [11]:
2 != 3

True

### Logical Operator 
1. And ( and ) ` True and False  output: False`
2. Or ( or ) ` True or False output: True`
3. Not ( not ) ` not False output: True`

> Note: [] -> False, "" -> False, 'something' -> True

**Logical Operators Precedence Rules**
1. not
2. and
3. or

In [12]:
False or True and not True

False

### Identy Operator 
The identity operators in Python to determine wheather a value is of a certain class or type. Thery they are use to determine hte type of data a certain vairable contain. 

Example:

In [13]:
x = 3
type(x) is int 
type (x) is float 
type(x) is str

False

### Membership Operator 
It is used to test wheater a sequence is present in a object or not. 
Two operators in python are: 
- in
- not in

Example:

In [14]:
'h' in 'hello'

True

### Bit Wise Operator
In Python, bitwise operators are used to performing bitwise calculation in integer. 

**Note: bitwise operator only works in integer**

In [15]:
# Bitwise and ( & ) 
# 2 = 10 in binary 
# 3 = 11 in binary 
# 2 & 3 = 10 & 11 = 10 = 2 
2 & 3

2

In [16]:
# Bitwise or ( | ) 
# 2 = 10 in binary 
# 3 = 11 in binary 
# 2 | 3 = 10 | 11 = 11 = 3
2 | 3

3

In [17]:
# Bitwise xor ( ^ ) 
2 ^ 3

1

## 4. Python list
---
**Note: Python list are mutable(changable)**

In [18]:
# list is enclosed in square brackets 
days_of_week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
days_of_week

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [19]:
# You can find hte number of items in the list using len()
len(days_of_week)

7

list can have any data type but it is not recommended to put different data type in a list as it can slow the program

In [20]:
my_list = [1, 31.1, 'Hello' , True]
my_list

[1, 31.1, 'Hello', True]

In [21]:
# Accessing list items 
my_list[2]

'Hello'

In [22]:
# Slicking
days_of_week[1:3]

['Monday', 'Tuesday']

In [23]:
# Negative indexing 
days_of_week[-1]

'Saturday'

### Array manupulation methods

In [24]:
# inserting items
my_list = [1, 2, 3]
my_list.insert(1, "inserted")
my_list

[1, 'inserted', 2, 3]

In [25]:
# appending items
my_list.append(4)
my_list

[1, 'inserted', 2, 3, 4]

In [26]:
# extend list
add_list = [6, 7, 8]
my_list.extend(add_list)
my_list

[1, 'inserted', 2, 3, 4, 6, 7, 8]

In [27]:
# remove items
my_list.remove(2)
my_list

[1, 'inserted', 3, 4, 6, 7, 8]

In [28]:
# pop method
my_list.pop()
my_list

[1, 'inserted', 3, 4, 6, 7]

In [29]:
# pop items by index
my_list.pop(2)
my_list

[1, 'inserted', 4, 6, 7]

In [30]:
# del keyword
del my_list[0]
my_list

['inserted', 4, 6, 7]

In [31]:
# use del keyword to remove vairable from memory
del my_list
my_list

NameError: name 'my_list' is not defined

In [32]:
# clear method 
my_list = [1, 2, 3]
my_list.clear()
my_list

[]

In [35]:
#sorting list 
month = ['Jan', 'Feb', 'Mar', 'Apr']
month

['Jan', 'Feb', 'Mar', 'Apr']

In [36]:
month.sort()
month

['Apr', 'Feb', 'Jan', 'Mar']

In [38]:
# sorting in reverse order 
month.sort(reverse = True)
month

['Mar', 'Jan', 'Feb', 'Apr']

In [39]:
# sorting list by making lower case 
cities = ['Kathmandu', 'Pokhara', 'LonDon']
cities.sort(key=str.lower)
cities

['Kathmandu', 'LonDon', 'Pokhara']

In [40]:
# reversing list 
cities.reverse()
cities

['Pokhara', 'LonDon', 'Kathmandu']

## Python Conditionals 
---

### if statement

In [41]:
# example 
x = 5 
if x > 3: 
    print("x is greater than 3")

x is greater than 3

In [43]:
if x == 3: 
    print("x is equal to 5")

In [44]:
if x == 3: 
    print("x is equal to 3")
elif x == 5: 
    print("x is equal to 5")
else: 
    print("x maybe equal to anything")

x is equal to 5

In [49]:
age = int(input("Enter your age"))
if age == 18: 
    print("Get your citizenship to vote")
elif age > 18: 
    print("You can vote")
elif age < 18: 
    print("You can't vote")
else:
    print("invalid age")

Enter your age 18

Get your citizenship to vote

## Short hand if 
---

In [1]:
x = 3 
print("x is equal to 2") if x == 2 else print("x is not equal to 2")

x is not equal to 2

## Nested if
---

In [2]:
x = 35
if x > 10: 
    print("x is greater than 10")
    if x < 30: 
        print("but it is less than 30")
    else: 
        print("and it is greater than 30 as well")

x is greater than 10
and it is greater than 30 as well

# Python loops
---

## While loop
---

In [5]:
x = 0 
while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

### break statement

The break statement breaks the loop and the execution exits the loop

In [3]:
x = 0 
while x < 10: 
    print(x)
    x += 1
    if x == 4: 
        break

0
1
2
3

### continue statement 

The continue statement stops hte current loop iteration and continues with the new iteration.

In [6]:
x = 0 
while x < 10:
    x += 1
    if x == 3:
        continue
    print(x)

1
2
4
5
6
7
8
9
10

## For loop 
---

The for loop is something you will be using a lot. It can iterate over a sequence (i.e. list, tuple, set, dict, string)

In [9]:
# iterate over a list 
list = ["one", "two", "three"]
for num in list:
    print(num)

one
two
three

In [11]:
# iterate over a string
for i in "Python": 
    print(i)
    if i == "t":
        break

P
y
t

### The range function

the range() function returns a sequence of numbers starting with 0 ( by default ) and incremented by 1 ( by default) up to the number less than one provided as argument.

In [14]:
for i in range(6):
    print(i)

0
1
2
3
4
5

 `syntax: range(start, stop, step)`

In [15]:
for i in range(2, 7, 3):
    print(i)

2
5

### Nested loop

In [16]:
colors = ["red", "blue", "white"]
objects = ['chair', 'table', 'house']

for color in colors: 
    for object in objects: 
        print(color, object)

red chair
red table
red house
blue chair
blue table
blue house
white chair
white table
white house

# Python Function 
---

In [23]:
def add(x, y):
    return x + y
add(3, 4)

7

## Arbitary arguments (*args) 

If you do not know in advance how many arguments will be passed, you can define a function with arbitary arguments by adding an * (asterisk) before the parameter name.

In [21]:
def add(*numbers):
    return sum(numbers)

add(2, 3, 5, 8)

18

## Default parameter

In [24]:
def multiply(x, y=4):
    return x*y
multiply(3)

12

In [30]:
def multiply(x=4, y=None):
    return x * y

multiply(y=1)

4