In [10]:
import pandas as pd 
import matplotlib.pyplot as plt

df = pd.read_csv("marketing_sales.csv")
df.dropna(inplace = True)

def regression_model(x, m):
    return [m*x]
    

def loss(x, y):
    y_pred = regression_model(x, 1)
    
    res = 0 
    for actual, pred in zip(y, y_pred):
        res += (pred - actual)**2

    return res / len(x)


loss(df[['Radio']], df['Sales'])

         Radio
0    13.869616
1     9.913314
2    11.157151
3     7.105528
4     4.969932
..         ...
567   6.721646
568   7.766257
569  11.497866
570  10.827432
571   8.919253

[569 rows x 1 columns]