In [5]:
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np 

df = pd.read_csv("data.csv")
df.head()

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
0,0,2018-01-01,Arizona,Maricopa,Buckeye,BUCKEYE,Carbon monoxide,Parts per million,0.473684,7
1,1,2018-01-01,Ohio,Belmont,Shadyside,Shadyside,Carbon monoxide,Parts per million,0.263158,5
2,2,2018-01-01,Wyoming,Teton,Not in a city,Yellowstone National Park - Old Faithful Snow ...,Carbon monoxide,Parts per million,0.111111,2
3,3,2018-01-01,Pennsylvania,Philadelphia,Philadelphia,North East Waste (NEW),Carbon monoxide,Parts per million,0.300000,3
4,4,2018-01-01,Iowa,Polk,Des Moines,CARPENTER,Carbon monoxide,Parts per million,0.215789,3

In [7]:
df.count()

Unnamed: 0          260
date_local          260
state_name          260
county_name         260
city_name           260
local_site_name     257
parameter_name      260
units_of_measure    260
arithmetic_mean     260
aqi                 260
dtype: int64

In [9]:
df.describe()

       Unnamed: 0  arithmetic_mean         aqi
count  260.000000       260.000000  260.000000
mean   129.500000         0.403169    6.757692
std     75.199734         0.317902    7.061707
min      0.000000         0.000000    0.000000
25%     64.750000         0.200000    2.000000
50%    129.500000         0.276315    5.000000
75%    194.250000         0.516009    9.000000
max    259.000000         1.921053   50.000000

In [13]:
df['state_name'].describe()

count            260
unique            52
top       California
freq              66
Name: state_name, dtype: object

In [34]:
df['aqi'].std()

7.0617066788207215