In [1]:
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np 

df = pd.read_csv("data.csv")
df.head()

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
0,0,2018-01-01,Arizona,Maricopa,Buckeye,BUCKEYE,Carbon monoxide,Parts per million,0.473684,7
1,1,2018-01-01,Ohio,Belmont,Shadyside,Shadyside,Carbon monoxide,Parts per million,0.263158,5
2,2,2018-01-01,Wyoming,Teton,Not in a city,Yellowstone National Park - Old Faithful Snow ...,Carbon monoxide,Parts per million,0.111111,2
3,3,2018-01-01,Pennsylvania,Philadelphia,Philadelphia,North East Waste (NEW),Carbon monoxide,Parts per million,0.300000,3
4,4,2018-01-01,Iowa,Polk,Des Moines,CARPENTER,Carbon monoxide,Parts per million,0.215789,3

In [2]:
df.count()

Unnamed: 0          260
date_local          260
state_name          260
county_name         260
city_name           260
local_site_name     257
parameter_name      260
units_of_measure    260
arithmetic_mean     260
aqi                 260
dtype: int64

In [3]:
df.describe()

       Unnamed: 0  arithmetic_mean         aqi
count  260.000000       260.000000  260.000000
mean   129.500000         0.403169    6.757692
std     75.199734         0.317902    7.061707
min      0.000000         0.000000    0.000000
25%     64.750000         0.200000    2.000000
50%    129.500000         0.276315    5.000000
75%    194.250000         0.516009    9.000000
max    259.000000         1.921053   50.000000

In [4]:
df['state_name'].describe()

count            260
unique            52
top       California
freq              66
Name: state_name, dtype: object

In [5]:
df['aqi'].std()

7.0617066788207215

In [23]:
import pandas as pd 
import numpy as np 
from scipy import stats

df = pd.read_csv("c4_epa_air_quality.csv", index_col = 0)
df

,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
0,2018-01-01,Arizona,Maricopa,Buckeye,BUCKEYE,Carbon monoxide,Parts per million,0.473684,7
1,2018-01-01,Ohio,Belmont,Shadyside,Shadyside,Carbon monoxide,Parts per million,0.263158,5
2,2018-01-01,Wyoming,Teton,Not in a city,Yellowstone National Park - Old Faithful Snow ...,Carbon monoxide,Parts per million,0.111111,2
3,2018-01-01,Pennsylvania,Philadelphia,Philadelphia,North East Waste (NEW),Carbon monoxide,Parts per million,0.300000,3
4,2018-01-01,Iowa,Polk,Des Moines,CARPENTER,Carbon monoxide,Parts per million,0.215789,3
...,...,...,...,...,...,...,...,...,...
255,2018-01-01,District Of Columbia,District of Columbia,Washington,Near Road,Carbon monoxide,Parts per million,0.244444,3
256,2018-01-01,Wisconsin,Dodge,Kekoskee,HORICON WILDLIFE AREA,Carbon monoxide,Parts per million,0.200000,2
257,2018-01-01,Kentucky,Jefferson,Louisville,CANNONS LANE,Carbon monoxide,Parts per million,0.163158,2
258,2018-01-01,Nebraska,Douglas,Omaha,NaN,Carbon monoxide,Parts per million,0.421053,9
259,2018-01-01,North Carolina,Wake,Not in a city,Triple Oak,Carbon monoxide,Parts per million,0.188889,2

In [7]:
df.describe()

       Unnamed: 0  arithmetic_mean         aqi
count  260.000000       260.000000  260.000000
mean   129.500000         0.403169    6.757692
std     75.199734         0.317902    7.061707
min      0.000000         0.000000    0.000000
25%     64.750000         0.200000    2.000000
50%    129.500000         0.276315    5.000000
75%    194.250000         0.516009    9.000000
max    259.000000         1.921053   50.000000

In [43]:
sample_array = [df.aqi.sample(n = 50).mean() for _ in range(1000)]
sample_array

[6.52,
 7.42,
 5.62,
 5.2,
 6.9,
 6.7,
 6.22,
 6.32,
 6.98,
 6.48,
 5.84,
 7.38,
 6.88,
 7.7,
 6.02,
 6.04,
 7.78,
 7.04,
 5.7,
 7.02,
 5.96,
 7.26,
 7.22,
 6.42,
 7.12,
 8.38,
 6.3,
 6.02,
 5.32,
 4.6,
 7.2,
 6.82,
 6.5,
 5.34,
 6.56,
 6.3,
 5.6,
 6.14,
 7.42,
 8.3,
 5.94,
 7.04,
 7.58,
 5.44,
 6.08,
 6.76,
 8.6,
 7.62,
 8.44,
 6.82,
 7.22,
 7.3,
 5.86,
 7.06,
 7.86,
 6.7,
 8.22,
 8.4,
 6.76,
 8.08,
 6.34,
 7.08,
 6.22,
 5.54,
 6.54,
 5.72,
 8.84,
 6.46,
 6.12,
 5.44,
 7.04,
 5.86,
 6.76,
 6.2,
 6.68,
 6.82,
 6.22,
 4.82,
 8.82,
 6.44,
 6.72,
 5.52,
 5.4,
 7.24,
 6.36,
 9.16,
 7.26,
 7.86,
 7.08,
 6.74,
 5.58,
 5.56,
 8.64,
 8.1,
 6.2,
 5.58,
 6.14,
 6.6,
 5.78,
 8.14,
 6.52,
 6.48,
 6.0,
 6.14,
 6.44,
 8.16,
 7.46,
 6.76,
 6.48,
 6.24,
 6.18,
 8.24,
 6.04,
 6.5,
 8.7,
 6.54,
 5.88,
 8.3,
 6.9,
 6.0,
 6.28,
 6.16,
 6.28,
 8.38,
 5.56,
 7.32,
 7.9,
 6.86,
 9.3,
 8.06,
 6.3,
 6.28,
 6.2,
 8.52,
 6.04,
 6.6,
 7.08,
 5.96,
 5.54,
 7.62,
 8.54,
 6.08,
 6.46,
 6.08,
 5.96,
 6.2,
 6.8,
 5.96,
 6.16,
 6.48,
 5.42,
 6.22,
 5.94,
 4.9,
 6.42,
 6.44,
 6.18,
 6.4,
 7.14,
 8.02,
 6.46,
 7.46,
 6.24,
 6.24,
 6.08,
 7.08,
 6.8,
 6.92,
 6.9,
 5.92,
 5.2,
 6.18,
 6.6,
 8.08,
 7.92,
 7.6,
 6.4,
 6.44,
 6.28,
 5.5,
 6.74,
 5.32,
 6.36,
 7.94,
 7.66,
 6.96,
 6.34,
 5.3,
 6.82,
 6.32,
 6.56,
 6.14,
 6.08,
 8.06,
 6.98,
 7.32,
 8.16,
 6.86,
 5.06,
 6.26,
 5.52,
 7.56,
 5.96,
 7.28,
 6.96,
 7.04,
 6.82,
 5.16,
 6.8,
 6.42,
 8.1,
 8.02,
 7.06,
 6.26,
 6.56,
 6.46,
 5.84,
 7.74,
 6.76,
 6.28,
 5.62,
 7.8,
 5.86,
 7.14,
 6.02,
 5.14,
 5.96,
 7.28,
 7.62,
 6.6,
 7.56,
 8.2,
 7.68,
 6.36,
 5.0,
 7.06,
 7.46,
 6.36,
 7.0,
 8.04,
 6.48,
 7.32,
 6.88,
 7.22,
 6.48,
 5.86,
 6.4,
 6.9,
 5.4,
 5.84,
 7.06,
 7.18,
 6.66,
 7.88,
 5.78,
 7.02,
 8.12,
 7.52,
 7.68,
 6.42,
 6.5,
 6.8,
 8.76,
 6.42,
 5.98,
 7.18,
 5.58,
 5.12,
 6.28,
 8.36,
 7.7,
 6.26,
 8.08,
 7.08,
 5.78,
 6.66,
 8.02,
 6.88,
 7.98,
 6.44,
 7.0,
 6.74,
 6.92,
 7.08,
 6.08,
 9.28,
 7.72,
 6.24,
 6.74,
 7.34,
 6.98,
 6.28,
 6.2,
 6.48,
 7.68,
 7.58,
 5.6,
 7.3,
 7.22,
 8.96,
 6.94,
 5.56,
 6.06,
 6.44,
 4.8,
 5.62,
 6.76,
 6.8,
 7.36,
 6.84,
 7.08,
 7.22,
 6.06,
 6.46,
 7.04,
 8.22,
 5.52,
 6.46,
 7.42,
 6.76,
 7.66,
 7.28,
 5.64,
 6.32,
 5.68,
 7.02,
 7.7,
 6.48,
 7.18,
 7.24,
 7.24,
 5.2,
 6.3,
 7.5,
 7.28,
 6.04,
 6.7,
 7.56,
 7.46,
 6.48,
 7.38,
 6.2,
 6.76,
 6.48,
 5.42,
 6.26,
 8.6,
 5.34,
 7.06,
 6.36,
 6.24,
 6.94,
 6.4,
 6.94,
 4.88,
 5.48,
 7.36,
 6.92,
 6.24,
 6.56,
 5.62,
 6.04,
 6.94,
 6.04,
 6.48,
 6.28,
 6.8,
 7.38,
 6.76,
 6.82,
 6.16,
 6.5,
 7.16,
 7.54,
 5.12,
 7.88,
 7.2,
 5.32,
 6.64,
 7.24,
 6.76,
 5.94,
 7.84,
 5.48,
 5.52,
 7.08,
 6.58,
 7.24,
 6.48,
 5.86,
 6.78,
 5.62,
 7.66,
 6.6,
 6.4,
 7.88,
 6.18,
 5.5,
 8.22,
 6.54,
 7.3,
 6.66,
 5.16,
 8.56,
 5.84,
 8.1,
 7.72,
 9.02,
 5.02,
 7.26,
 6.44,
 6.4,
 7.0,
 7.4,
 5.12,
 7.0,
 7.5,
 7.28,
 7.88,
 5.64,
 6.12,
 7.36,
 6.76,
 6.4,
 5.18,
 6.92,
 6.56,
 6.44,
 7.44,
 6.24,
 6.48,
 7.26,
 6.8,
 5.62,
 8.3,
 5.94,
 5.14,
 5.54,
 6.24,
 7.36,
 7.16,
 5.76,
 4.38,
 5.58,
 6.3,
 6.84,
 5.38,
 6.58,
 7.86,
 5.88,
 7.18,
 8.58,
 6.48,
 6.22,
 5.82,
 6.82,
 8.76,
 6.4,
 8.46,
 5.3,
 8.96,
 7.06,
 7.44,
 5.4,
 7.02,
 6.66,
 6.62,
 7.12,
 7.34,
 6.72,
 5.96,
 5.14,
 7.36,
 6.74,
 8.92,
 7.94,
 8.16,
 7.36,
 7.04,
 4.9,
 6.16,
 7.7,
 6.28,
 8.48,
 5.72,
 5.54,
 6.96,
 5.4,
 6.2,
 6.88,
 7.34,
 6.84,
 8.2,
 5.14,
 7.52,
 6.36,
 6.86,
 8.48,
 7.76,
 6.54,
 6.86,
 7.28,
 4.76,
 7.08,
 8.5,
 7.2,
 6.96,
 7.28,
 8.58,
 8.24,
 6.46,
 7.72,
 7.12,
 5.26,
 7.1,
 6.42,
 6.66,
 6.28,
 6.64,
 6.52,
 6.6,
 6.08,
 5.56,
 7.56,
 7.82,
 6.64,
 8.78,
 6.52,
 6.66,
 6.7,
 6.5,
 8.0,
 6.52,
 4.74,
 6.1,
 7.64,
 5.64,
 6.26,
 6.7,
 7.7,
 6.0,
 6.5,
 5.98,
 6.44,
 7.02,
 7.98,
 6.06,
 7.94,
 7.16,
 6.58,
 6.58,
 6.36,
 6.94,
 6.78,
 8.08,
 6.7,
 5.18,
 6.6,
 8.72,
 7.16,
 7.22,
 5.42,
 5.66,
 6.94,
 7.62,
 7.36,
 5.6,
 6.52,
 6.82,
 7.34,
 7.82,
 6.74,
 5.94,
 6.42,
 7.16,
 7.98,
 6.72,
 6.32,
 7.14,
 9.32,
 6.04,
 7.88,
 7.06,
 6.14,
 7.66,
 7.34,
 6.1,
 8.58,
 6.28,
 6.3,
 6.98,
 9.1,
 8.1,
 7.02,
 7.14,
 6.54,
 6.56,
 5.56,
 6.02,
 7.64,
 7.1,
 4.82,
 6.8,
 6.44,
 5.72,
 7.32,
 7.7,
 5.26,
 6.76,
 5.34,
 6.14,
 6.5,
 7.56,
 6.8,
 6.58,
 6.98,
 5.68,
 8.2,
 6.36,
 8.28,
 5.86,
 6.0,
 7.0,
 6.52,
 6.88,
 6.6,
 6.16,
 6.74,
 6.24,
 7.54,
 6.3,
 7.34,
 6.3,
 6.64,
 6.9,
 5.7,
 6.48,
 5.66,
 5.26,
 6.68,
 6.44,
 7.08,
 8.1,
 7.42,
 7.42,
 6.32,
 6.8,
 6.26,
 6.8,
 8.48,
 6.76,
 7.14,
 7.46,
 6.92,
 8.3,
 7.86,
 6.42,
 6.86,
 6.12,
 6.92,
 6.94,
 6.56,
 6.34,
 7.3,
 7.08,
 6.46,
 5.62,
 6.48,
 6.12,
 7.78,
 6.36,
 6.7,
 7.22,
 7.44,
 6.56,
 7.44,
 7.24,
 6.68,
 7.98,
 7.2,
 7.28,
 6.66,
 6.36,
 5.52,
 7.08,
 8.62,
 6.04,
 6.4,
 5.92,
 6.44,
 8.1,
 4.84,
 6.16,
 7.0,
 5.6,
 5.46,
 6.8,
 7.72,
 8.4,
 5.94,
 7.64,
 5.46,
 7.92,
 7.4,
 7.02,
 6.56,
 6.3,
 6.3,
 7.02,
 7.06,
 6.46,
 5.84,
 7.24,
 7.52,
 6.02,
 4.86,
 6.86,
 6.72,
 6.88,
 7.24,
 6.92,
 6.7,
 7.68,
 6.02,
 5.94,
 6.34,
 6.92,
 5.94,
 7.82,
 7.04,
 5.04,
 6.32,
 7.48,
 8.74,
 7.92,
 7.5,
 6.78,
 6.64,
 6.02,
 7.06,
 7.86,
 6.66,
 6.06,
 7.4,
 6.1,
 7.7,
 6.32,
 7.04,
 7.14,
 8.76,
 5.88,
 7.12,
 7.04,
 8.46,
 6.14,
 6.3,
 5.88,
 6.76,
 5.62,
 6.18,
 7.8,
 6.84,
 7.6,
 4.82,
 5.66,
 5.34,
 5.86,
 6.5,
 7.68,
 5.62,
 7.66,
 7.14,
 6.46,
 5.28,
 6.88,
 6.6,
 6.56,
 7.96,
 8.44,
 6.46,
 6.06,
 5.02,
 6.68,
 6.66,
 6.58,
 5.88,
 5.84,
 5.4,
 6.28,
 6.7,
 7.56,
 7.18,
 6.28,
 5.72,
 6.94,
 7.42,
 6.2,
 5.4,
 8.0,
 5.56,
 6.92,
 6.8,
 5.9,
 8.5,
 7.62,
 6.04,
 5.24,
 8.16,
 7.58,
 6.88,
 5.62,
 6.58,
 6.74,
 6.8,
 7.52,
 5.96,
 5.48,
 5.98,
 7.14,
 7.76,
 7.68,
 5.82,
 6.12,
 6.46,
 6.82,
 6.6,
 6.46,
 7.26,
 6.94,
 5.24,
 7.8,
 7.82,
 5.12,
 6.08,
 7.62,
 6.78,
 6.1,
 7.56,
 7.0,
 7.12,
 5.8,
 6.82,
 6.42,
 6.4,
 8.62,
 5.62,
 5.4,
 6.18,
 6.7,
 5.86,
 5.72,
 6.86,
 6.26,
 7.0,
 6.96,
 5.4,
 6.84,
 6.16,
 7.14,
 6.2,
 5.48,
 6.12,
 6.28,
 7.08,
 6.1,
 5.36,
 6.06,
 7.54,
 7.46,
 6.82,
 6.7,
 7.72,
 5.98,
 7.46,
 8.14,
 5.74,
 4.8,
 7.98,
 5.62,
 6.0,
 7.74,
 6.28,
 6.72,
 6.8,
 5.2,
 6.7,
 6.76,
 7.9,
 6.68,
 5.92,
 6.56,
 6.9,
 7.0,
 8.22,
 6.52,
 6.62,
 6.3,
 7.5,
 6.4,
 7.26,
 5.04,
 5.66,
 7.88,
 7.84,
 6.06,
 6.56,
 5.1,
 6.9,
 7.1,
 6.04,
 6.12,
 7.76,
 6.0,
 5.48,
 5.46,
 5.32,
 7.58,
 6.02,
 6.94,
 6.52,
 6.46,
 6.58,
 5.66,
 6.92,
 6.88,
 7.36,
 7.62,
 8.06,
 5.9,
 6.7,
 7.86,
 7.76,
 7.16,
 6.32,
 7.52,
 5.72,
 8.66,
 5.66,
 6.0,
 7.04,
 7.56,
 6.88,
 6.36,
 7.58,
 6.66,
 6.62,
 6.32,
 6.88,
 5.74,
 6.56,
 6.4,
 7.36,
 6.94,
 6.36,
 5.86,
 6.36,
 6.62,
 8.26,
 7.14,
 9.66,
 8.34,
 6.26,
 6.88,
 5.46,
 5.54,
 6.84,
 5.96,
 5.66,
 5.72,
 6.12,
 6.52,
 5.94,
 7.58,
 7.04,
 6.46,
 6.8,
 7.2,
 8.16,
 6.3,
 7.38,
 4.84,
 5.2,
 6.04,
 7.76,
 7.18,
 5.74,
 5.94,
 6.3,
 6.82,
 7.26,
 6.28,
 5.98,
 7.76,
 7.26,
 5.94,
 5.84,
 6.48,
 5.84,
 6.96,
 7.02]